<li class="header">ADMIN</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>Schools</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>type_commnet</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>semesters</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>unit</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>subjects</span>
  </a>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>Users</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Manager</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Teacher</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>Parent</a></li>
  </ul>
</li>
