<li class="header">MANAGER</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>Users</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>confirmed parent</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>CRUD - Teacher</a></li>
  </ul>
</li>
<li>
  <%= link_to subjects_path, id: "sidebar-item" do %>
    <i class="fa fa-user-circle-o"></i> <span>Student</span>
  <% end %>
</li>
<li>
  <%= link_to classrooms_path, id: "sidebar-item" do %>
    <i class="fa fa-briefcase"></i> <span>Classrooms</span>
  <% end %>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>classrooms and class_subject</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>student_subject</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>timetable</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>examination_schedule</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>Thong ke</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>ket qua</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>tot nghiep</span>
  </a>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>import input</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>user</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>student</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>class</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>point</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-dashboard"></i> <span>export bao cao</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>user</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>student</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>class</a></li>
    <li><a href="#"><i class="fa fa-circle-o text-blue"></i>point</a></li>
  </ul>
</li>
