<li class="header">PARENT</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>User</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>day_off</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>comments</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>student</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>class_subject</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>student_subject</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>examination_schedule</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>classrooms</span>
  </a>
</li>
<li>
  <a href="#">
    <i class="fa fa-th"></i> <span>points</span>
  </a>
</li>
