<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-2">STT</th>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">Value</th>
        <th class="col-md-4">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @point_types.each_with_index do |point_type, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= point_type.name %></td>
          <td><%= point_type.value %></td>
          <td>
            <%= render "action", point_type: point_type %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
