<div class="col-md-offset-1 col-lg-9">  
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Edit student</h3>
    </div>
      <%= render "form" %>
  </div>
</div>
