<div class="alert alert-warning alert-dismissible">
  <h4><i class="icon fa fa-warning"></i> Warning!</h4>
  <strong>Tài khoản của bạn đang trong quá trình xác thực. Liên lạc với giáo viên để có thêm thông tin</strong>
</div>
