<div class="col-md-offset-2 col-lg-8">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Add new number</h3>
    </div>
  </div>
    <%= render "form" %>    
</div>
