<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-2">STT</th>
        <th class="col-md-6">Name</th>
        <th class="col-md-4">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @notify_types.each_with_index do |notify_type, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= notify_type.name %></td>
          <td>
            <%= render "action", notify_type: notify_type %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </tfoot>
  </table>
</div>
