<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-1">STT</th>
        <th class="col-md-4">Subject code</th>
        <th class="col-md-4">Name</th>
        <th class="col-md-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each_with_index do |subject, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= subject.subject_code %></td>
          <td><%= subject.name %></td>
          <td>
            <%= render "action", subject: subject %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
