@import 'colors';

.text-create {
  color: $create !important;
}
.text-read {
  color: $read !important;
}
.text-update {
  color: $update !important;
}
.text-destroy {
  color: $destroy !important;
}
.modal-profile-size {
  width: 800px;
}
