@import 'colors';

.modal-input {
  border: 1px solid;
  border-radius: 20px;
}
.center-attr {
  text-align: center;
}
.modal-padding {
  padding: 15px 80px 15px 80px;
}
.pointer-add {
  cursor: pointer;
}
.background-modal {
  background-color: $background;
}
