<div class="box-body">
  <table class="table table-bordered table-striped datatable">
    <thead>
      <tr>
        <th class="col-md-4">Teacher</th>
        <th class="col-md-4">Môn học</th>
        <th class="col-md-4">Action</th>
      </tr>
    </thead>
    <tbody>
      <% @class_subjects.each do |class_subject| %>
        <tr>
          <td><%= class_subject.teacher.teacher_name %></td>
          <td><%= class_subject.teacher.subject_name %></td>
          <td>
            <%= link_to classroom_class_subject_path(id: class_subject.id), method: :DELETE,
              data: {confirm: "Are you sure?"}, class: "btn btn-danger" do %>
              <i class="fa fa-trash-o"></i> Destroy
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
